@media screen and (max-width: 600px){
.dailyword{
    display: block;
    
}
#demo{
    margin-top: 0.3rem;
    border: 1px solid black;
    width: fit-content;
    padding: 0.9rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#largeWord{
    display: none;
}
dialog {
position: absolute;
  border: none;
  width: 100vw;
  height: 75%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}   
}